
.footer {
    display: flex;
    align-items: center; 
    border: 1px solid rgba(216,216,216,0.54);
    background: $background-white;
    font-family: 'Exo Regular';
    font-size: 14px;
    padding: 0 100px;
    z-index: 1;
    position: relative;
    a {
        color: #000;
        margin-right: 80px;
    }
    svg {
        margin: 30px 10px;
        cursor: pointer;
        transform: scale(1);
        transition: $transition;
    }
    svg:hover{
        transform: scale(1.1);
    }
    svg:nth-child(5) {
        margin-left: auto;
    }
}