.form {
    padding-bottom: 280px;
    z-index: 1;
    position: relative;
    .container {
        font-size: 18px;
        line-height: 1.5;
        font-family: 'Exo Regular';
        .row {
            div {
                h1 {
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    font-family: 'Exo SemiBold';
                    margin-bottom: 60px;
                    font-size: 36px;
                }
                h1::before {
                    position: absolute;
                    width: 150px;
                    height: 150px;
                    background: rgba(74, 144, 226, 1);
                    opacity: 0.25;
                    margin-left: -65px;
                    margin-top: -34px;
                    z-index: -1;
                    content: '';
                }
                p {
                    text-align: justify;
                }
            }
            form {
                background-color: rgba(74, 144, 226, 1);
                padding: 40px;
                display: flex;
                flex-direction: column;
                label {
                    color: white;
                    margin-top: 15px;
                }
                input,
                select {
                    margin: 10px 0;
                    border: none;
                    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.23);
                    border-radius: 3px;
                    padding: 14px 30px;
                }
                input::placeholder {
                    font-style: italic;
                }
                .formBtn {
                    width: 200px;
                    margin: 60px auto 0 auto;
                    text-transform: uppercase;
                    font-family: 'Exo SemiBold';
                    background: #fff;
                    transition: $transition;
                    cursor: pointer;
                }
                .formBtn:hover{
                    background: #eee;
                }
                div {
                    // position: relative;
                    display: flex;
                    align-items: center;
                    select {
                        cursor: pointer;
                        width: 100%;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }
                    svg {
                        position: absolute;
                        right: 70px;
                        opacity: .25;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.form-success{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    display: flex;
    align-content: center;
    z-index: 10;
    
    .card{
        background: #fff;
        border-radius: 6px;
        padding: 100px;
        padding-bottom: 40px;
        margin: auto;
        display: block;
        width: 600px;
        
        p{
            font-size: 20px;
            font-family: 'Exo SemiBold';
            text-align: center;
            margin-bottom: 100px;
            line-height: 1.5;
        }
        
        .btnFormSuccess{
            padding: 20px;
            background: $background-blue;
            border-radius: 3px;
            font-family: 'Exo Regular';
            text-align: center;
            font-size: 16px;
            display: inline-block;
            cursor: pointer;
            width: 100%;
            color: #fff;
            transition: $transition;
            
        }
        
        .btnFormSuccess:hover{
            background: #76b3fb;
            color: #fff;
        }
    }
}