.videodemo{
    position: relative;
    z-index: 1;
    background: rgba(0,0,0,0.05);
    width: 100%;
    padding: 120px 0;
    
    .video{
        background: #fff;
        
        video{
            width: 100%;
        }
    }
}