.videodemo{
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 120px 0;
    
    h1{
        text-align: center;
        font-family: 'Exo Bold';
        font-size: 24px;
    }

    .parent-traitbleu{
        text-align: center;

        .traitbleu{
            width: 3px;
            height: 60px;
            display: inline-block;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 60px;
            background: $background-blue;
            position: relative;
            right: -1px;
        }
    }
    
    .video{
        background: #fff;
        
        video{
            width: 100%;
        }
    }
}